node_modules/
dist/
*.tsbuildinfo
data/uploads/*
data/stems/*
data/db.sqlite*
data/bin/
!data/uploads/.gitkeep
!data/stems/.gitkeep
.DS_Store
worker/.venv/
worker/__pycache__/
*.pyc
.env
apps/desktop/build/
apps/desktop/dist/
*.tsbuildinfo
apps/desktop/release/
